<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4ENUhQiuknLmJl8FpoKIgFFhPjZiz3GI</string>
	<key>GCM_SENDER_ID</key>
	<string>900625754093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomFirebaseApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>easy-shopping-5452e</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-shopping-5452e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900625754093:ios:103f56c0a3ae267d83e9e4</string>
</dict>
</plist>